body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    padding: 0;
    max-width: 100%;
    margin: 0 auto;
}

.logo-container{
 width: 250px;
}